@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-link: var(--link);
  --color-sidebar: var(--sidebar);

  --color-chart-gray-400: var(--chart-gray-400);
  --color-chart-gray-700: var(--chart-gray-700);
  --color-chart-red-400: var(--chart-red-400);
  --color-chart-red-700: var(--chart-red-700);
  --color-chart-orange-400: var(--chart-orange-400);
  --color-chart-orange-700: var(--chart-orange-700);
  --color-chart-yellow-400: var(--chart-yellow-400);
  --color-chart-yellow-700: var(--chart-yellow-700);
  --color-chart-green-400: var(--chart-green-400);
  --color-chart-green-700: var(--chart-green-700);
  --color-chart-teal-400: var(--chart-teal-400);
  --color-chart-teal-700: var(--chart-teal-700);
  --color-chart-cyan-400: var(--chart-cyan-400);
  --color-chart-cyan-700: var(--chart-cyan-700);
  --color-chart-blue-400: var(--chart-blue-400);
  --color-chart-blue-700: var(--chart-blue-700);
  --color-chart-purple-400: var(--chart-purple-400);
  --color-chart-purple-700: var(--chart-purple-700);
  --color-chart-pink-400: var(--chart-pink-400);
  --color-chart-pink-700: var(--chart-pink-700);
}

:root {
  --font-size: 14px;
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.95 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --success: oklch(0.557 0.2 149.578);
  --success-foreground: oklch(0.985 0 0);
  --warning: oklch(0.634 0.22 85.87);
  --warning-foreground: oklch(0.985 0 0);
  --border: oklch(0.875 0 0);
  --input: oklch(0.875 0 0);
  --ring: oklch(0.645 0 0);
  --link: oklch(0.405 0.1 224.47);
  --sidebar: oklch(0.99 0 0);

  --chart-gray-400: oklch(0.556 0 0);
  --chart-gray-700: oklch(0.205 0 0);
  --chart-red-400: oklch(0.577 0.245 27.325);
  --chart-red-700: oklch(0.577 0.245 27.325);
  --chart-orange-400: oklch(0.634 0.22 85.87);
  --chart-orange-700: oklch(0.634 0.22 85.87);
  --chart-yellow-400: oklch(0.634 0.22 85.87);
  --chart-yellow-700: oklch(0.634 0.22 85.87);
  --chart-green-400: oklch(0.557 0.2 149.578);
  --chart-green-700: oklch(0.557 0.2 149.578);
  --chart-teal-400: oklch(0.557 0.2 149.578);
  --chart-teal-700: oklch(0.557 0.2 149.578);
  --chart-cyan-400: oklch(0.557 0.2 149.578);
  --chart-cyan-700: oklch(0.557 0.2 149.578);
  --chart-blue-400: oklch(0.557 0.2 149.578);
  --chart-blue-700: oklch(0.557 0.2 149.578);
  --chart-purple-400: oklch(0.557 0.2 149.578);
  --chart-purple-700: oklch(0.557 0.2 149.578);
  --chart-pink-400: oklch(0.557 0.2 149.578);
  --chart-pink-700: oklch(0.557 0.2 149.578);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.145 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --success: oklch(0.684 0.165 149.578);
  --success-foreground: oklch(0.145 0 0);
  --warning: oklch(0.75 0.19 85.87);
  --warning-foreground: oklch(0.145 0 0);
  --border: oklch(1 0 0 / 25%);
  --input: oklch(1 0 0 / 25%);
  --ring: oklch(0.685 0 0);
  --link: oklch(0.8333 0.1 224.47);
  --sidebar: oklch(0.18 0 0);

  --chart-gray-700: oklch(0.205 0 0);
  --chart-gray-400: oklch(0.556 0 0);
  --chart-red-700: oklch(0.577 0.245 27.325);
  --chart-red-400: oklch(0.577 0.245 27.325);
  --chart-orange-700: oklch(0.634 0.22 85.87);
  --chart-orange-400: oklch(0.634 0.22 85.87);
  --chart-yellow-700: oklch(0.634 0.22 85.87);
  --chart-yellow-400: oklch(0.634 0.22 85.87);
  --chart-green-700: oklch(0.557 0.2 149.578);
  --chart-green-400: oklch(0.557 0.2 149.578);
  --chart-teal-700: oklch(0.557 0.2 149.578);
  --chart-teal-400: oklch(0.557 0.2 149.578);
  --chart-cyan-700: oklch(0.557 0.2 149.578);
  --chart-cyan-400: oklch(0.557 0.2 149.578);
  --chart-blue-700: oklch(0.557 0.2 149.578);
  --chart-blue-400: oklch(0.557 0.2 149.578);
  --chart-purple-700: oklch(0.557 0.2 149.578);
  --chart-purple-400: oklch(0.557 0.2 149.578);
  --chart-pink-700: oklch(0.557 0.2 149.578);
  --chart-pink-400: oklch(0.557 0.2 149.578);
}

@layer base {
  html {
    font-size: var(--font-size);
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    @apply selection:bg-primary selection:text-primary-foreground;
  }
}
